body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .mission, .destinations {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #FF9800;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  