body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #00832e;
    color: white;
  }
  
  header {
    background-color: #00832e;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .monster {
    border: 1px solid #005b18;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
  }
  
  .monster img {
    width: 10%;
    height: 10%;
}
  
  h2 {
    color: white;
  }